html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
*:focus {
  outline: none;
}
body {
  background-color: black;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.headWindow {
  width: 85vw;
  height: 87vh;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15px;
  border-radius: 10px;
}
.img {
  position: relative;
  width: 100%;
  height: 100%;
}
.nameInterlocutor {
  position: absolute;
  bottom: 102px;
  left: 130px;
  color: #fff;
  font-size: 15px;
}
