.itemContainerFirst {
  margin: 8px 15px;
}
.itemContainerSecond {
  margin: 18px 15px;
}
.toolbarItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
h5 {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 19px;
  color: #696969;
  font-size: 14px;
}
.textContainer {
  display: block;
}
span {
  display: inline-block;
  margin-left: 19px;
  font-size: 12px;
  color: #a9a9a9;
}
.border {
  border-bottom: 1px solid gray;
}
