.functionButtonsContainer {
  display: flex;
}
.button {
  position: relative;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border: none;
  background-color: black;
  color: #fff;
  padding: 5px;
}
.button:hover {
  background-color: #464141;
  border-radius: 50%;
}
.hoverBtnDropdownFirst {
  position: absolute;
  width: 90px;
  height: 20px;
  top: 665px;
  right: 165px;
  background-color: #464141;
  border-radius: 3px;
  color: #fff;
}
.hoverBtnDropdownSecond {
  position: absolute;
  width: 90px;
  height: 20px;
  top: 665px;
  right: 125px;
  background-color: #464141;
  border-radius: 3px;
  color: #fff;
}
.hoverBtnDropdownThird {
  position: absolute;
  width: 105px;
  height: 20px;
  top: 665px;
  right: 75px;
  background-color: #464141;
  border-radius: 3px;
  color: #fff;
}
.hoverBtnDropdownFourth {
  position: absolute;
  width: 50px;
  height: 20px;
  top: 665px;
  right: 55px;
  background-color: #464141;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}
.hoverBtnDropdownFifth {
  position: absolute;
  width: 110px;
  height: 20px;
  top: 665px;
  right: 1px;
  background-color: #464141;
  border-radius: 3px;
  color: #fff;
  text-align: center;
}
.hoverBtnDropdownText {
  margin: 3px 0 0 7px;
}
.hoverBtnDropdownTextFirth {
  margin: 3px 0 0 0px;
}
.numberOfUsers {
  position: absolute;
  width: 15px;
  height: 15px;
  bottom: 55px;
  right: 153px;
  border-radius: 50%;
  background-color: gray;
  z-index: 10;
}
.numberOfUsersText {
  margin: 1px 0 1px 5px;
  color: #fff;
  font-size: 12px;
}
